/* Body */
body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Form container */
.form-container {
    background: white;
    padding: 25px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

/* Inputs */
form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input, form select, form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Gender */
.gender {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 5px;
}

.gender label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

/* Button */
button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #555;
}