body {
  font-family: Arial;
  text-align: center;
  background: linear-gradient(to right, #d4fc79, #96e6a1);
}

.container {
  margin-top: 50px;
}

input {
  padding: 10px;
  width: 250px;
}

button {
  margin: 5px;
  padding: 10px;
  background: #2ecc71;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #27ae60;
}

h3 {
  margin-top: 20px;
}